@{
  Layout = "_Layout";
}

<div id="container">
  <header>
  <h1 id="galleryTitle">SHORT SANDS</h1>
  </header>

  <div class="photobanner">
      <img class="first" src="../img/shortSands/shortSands.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands1.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands2.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands3.jpg" alt="Short Sands Beach" height="200px" height="200px" />
      <img src="../img/shortSands/shortSands5.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands6.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands7.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands8.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands9.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands10.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands1.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands6.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands7.jpg" alt="Short Sands Beach" height="200px" />
  </div>
</div>
