@{
  Layout = "_Layout";
}

<body id="surfBackground">

<div id="container">
  <header>
  <h1 id="galleryTitle">SHORT SANDS</h1>
  </header>

  <div class="row">
    <div class="column-md-6">
      <img id="staticMap" src="../img/staticMaps/shortSandsMap.jpg" alt="short sands beach" height="350px" />
    </div>
    <div class="column-md-6">


@* <div style="width:400px;background:#fff"><script type="text/javascript" src="http://magicseaweed.com/syndicate/index.php?licenseKey=1558454112_91834"></script><p><div style="font-family:Arial, Helvetica, sans-serif;text-align:center;font-size:10px;color:#000;height:25px;"><a href="http://magicseaweed.com/Oregon-Surf-Forecast/15/" style="color:#000;">Oregon Surf Report and Forecast</a></div></p></div>


<div style="width:260px;background:#fff"><script type="text/javascript" src="http://magicseaweed.com/syndicate/index.php?licenseKey=1558454006_72690"></script><p><div style="font-family:Arial, Helvetica, sans-serif;text-align:center;font-size:10px;color:#000;height:25px;"><a href="http://magicseaweed.com/Smugglers-Cove-Surf-Report/314/" style="color:#000;">Smugglers Cove Surf Report and Forecast</a></div></p></div>



<div style="width:400px;background:#fff"><script type="text/javascript" src="http://magicseaweed.com/syndicate/index.php?licenseKey=1558453579_89999"></script><p><div style="font-family:Arial, Helvetica, sans-serif;text-align:center;font-size:10px;color:#000;height:25px;"><a href="http://magicseaweed.com/Smugglers-Cove-Surf-Report/314/" style="color:#000;">Smugglers Cove Surf Report and Forecast</a></div></p></div> *@


@* Both map and forecast *@
<div style="width:400px;background:#fff"><script type="text/javascript" src="http://magicseaweed.com/syndicate/index.php?licenseKey=1558453384_91825"></script><p><div style="font-family:Arial, Helvetica, sans-serif;text-align:center;font-size:10px;color:#000;height:25px;"><a href="http://magicseaweed.com/Smugglers-Cove-Surf-Report/314/" style="color:#000;">Smugglers Cove Surf Report and Forecast</a></div></p></div>
      </div>

  <div class="photobanner">
      <img class="first" src="../img/shortSands/shortSands.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands7.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands1.jpg" alt="Short Sands Beach" height="200px" />

      <img src="../img/shortSands/shortSands5.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands6.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands8.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands9.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands10.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands1.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands6.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/shortSands/shortSands7.jpg" alt="Short Sands Beach" height="200px" />
  </div>


</body>
