@{
  Layout = "_Layout";
}

<body>
  <div class="gridHeader">
    <div class="header">
      <ul class="menu">
        <li>
          <form class="form-inline" action="/action_page.php">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-primary" type="submit">SEARCH</button>
          </form>
        </li>
        <li><a href='/'>HOME</a></li>
        <li><a href='/DIRECTIONS'>DIRECTIONS</a></li>
        <li><a href='/restaurants'>FOOD</a></li>
        <li><a href='/hikes'>HIKES</a></li>
        <li><a href='/login'>LOGIN</a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <header>
      <h1 id="locationTitle">SHORT SANDS</h1>
    </header>
  </div>

  <div class="photobanner">
    <img class="first" src="../img/shortSands/shortSands.jpg" alt="Short Sands Beach" height="225px" />
    <img src="../img/shortSands/shortSands7.jpg" alt="Short Sands Beach" height="225px" />
    <img src="../img/shortSands/shortSands1.jpg" alt="Short Sands Beach" height="225px" />
    <img src="../img/shortSands/shortSands5.jpg" alt="Short Sands Beach" height="225px" />
    <img src="../img/shortSands/shortSands6.jpg" alt="Short Sands Beach" height="225px" />
    <img src="../img/shortSands/shortSands8.jpg" alt="Short Sands Beach" height="225px" />
    <!-- <img src="../img/shortSands/shortSands9.jpg" alt="Short Sands Beach" height="225px" /> -->
    <img src="../img/shortSands/shortSands10.jpg" alt="Short Sands Beach" height="225px" />
    <img src="../img/shortSands/shortSands3.jpg" alt="Short Sands Beach" height="225px" />
    <img src="../img/shortSands/shortSands4.jpg" alt="Short Sands Beach" height="225px" />
    <img src="../img/shortSands/shortSands7.jpg" alt="Short Sands Beach" height="225px" />
    <img src="../img/shortSands/shortSands1.jpg" alt="Short Sands Beach" height="225px" />
  </div>

<!-- weather -->
  <div class="container"
  <header id="weather"> <a class="weatherwidget-io" href="https://forecast7.com/en/45d72n123d89/nehalem/?unit=us" data-label_1="NEHALEM" data-label_2="WEATHER" data-theme="original" >NEHALEM WEATHER</a>
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
    </script>
  </header>
</div>

<!-- widgets -->
<div class="container">
  <div id="locationGrid" class="grid">

    <figure id="swell" class="locationGridBox">
      <!-- <figcaption1>
        <p>SWELL GRAPH</p>
      </figcaption1> -->
      <div style="width:100px;background:#fff"><script type="text/javascript" src="http://magicseaweed.com/syndicate/index.php?licenseKey=1558480820_74327"></script><p><div style="font-family:Arial, Helvetica, sans-serif;text-align:center;font-size:10px;color:#000;height:25px;"><a href="http://magicseaweed.com/Oregon-Surf-Forecast/15/" style="color:#000;"></a></div></p></div>
    </figure>

    <figure id="swell" class="locationGridBox">
      <div style="width:100px;background:#fff"><script type="text/javascript" src="http://magicseaweed.com/syndicate/index.php?licenseKey=1558481015_14013"></script><p><div style="font-family:Arial, Helvetica, sans-serif;text-align:center;font-size:10px;color:#000;height:25px;"><a href="http://magicseaweed.com/Smugglers-Cove-Surf-Report/314/" style="color:#000;"></a></div></p></div>
    </figure>

    <figure id="tides" class="locationGridBox">
      <script src="//tides.tidegraph.com/api/tidegraph.php?bg=white&scale=0.75&color=black&lat=45.7698&lng=-123.9591"></script>
    </figure>
  </div>
</div>

<div class="container">
  <div id="commentGrid" class="grid">

    <figure>
      <figcaption1 id="linkToForm">
        <button id="locationButton"><a id="buttonText" href='/shortsands/new'>ARE YOU AT SHORT SANDS RIGHT NOW?<br>
        CLICK HERE ADD YOUR OWN WEATHER/WAVE OBSERVATIONS!</a></button>
      </figcaption1>
    </figure>

    <figure id="commentsDisplay" class="commentGridBox">
      <figcaption1>
        <p id="commentTitle">USER'S COMMENTS ON CURRENT CONDITIONS:</p>
      </figcaption1>

      @if (@Model.Count == 0)
      {
        <h3>No comments have been added yet!</h3>
      }
      @foreach (var user in Model)
      {
        <h3>@user.Name</h3>
        <p>@user.Comment</p>
        <p>@user.Now</p>

      }<br>
        <p>...............................................................................................................................................................................</p>

    </figure>
  </div>
</div>

</body>
