@{
  Layout = "_Layout";
}

<body id="surfBackground">

<div id="container">
  <header>
  <h1 id="galleryTitle">CLATSOP LOOP TRAIL</h1>
  </header>

  <div class="row">
    <div class="column-md-6">
      <img id="staticMap" src="../img/staticMaps/clatsopLoopMap.jpg" alt="map of Clatsop Loop trail" height="350px" />
    </div>
    <div cclass="column-md-6">

    </div>
  </div><br><br>

  <div class="photobanner">
      <img class="first" src="../img/clatsopLoop/clatsopLoop1.jpg" alt="Clatsop Loop Trail" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop2.jpg" alt="Clatsop Loop Trail" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop3.jpg" alt="Clatsop Loop Trail" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop4.jpg" alt="Clatsop Loop Trail" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop5.jpg" alt="Clatsop Loop Trail" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop6.jpg" alt="Clatsop Loop Trail" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop7.jpg" alt="Clatsop Loop Trail" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop8.jpg" alt="Clatsop Loop Trail" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop9.jpg" alt="Clatsop Loop Trail" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop10.jpg" alt="Clatsop Loop Trail" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop11.jpg" alt="Clatsop Loop Trail" height="200px" />

  </div>
</div>

</body>
