@{
  Layout = "_Layout";
}

<div class="gridHeader">
  <div class="header">
    <ul class="menu">
      <li><a href='/'>HOME</a></li>
      <li><a href='/restaurants'>FOOD</a></li>
      <li><a href='/hikes'>HIKES</a></li>
      <li><a href='/login/new'>LOGIN</a></li>
    </ul>
  </div>
</div>

<div class="container">

<h2>Restaurant: @Model["selectedRestaurant"]._restaurantName</h2>
<hr />

@if (@Model["restaurantComments"].Count != 0)
{
  <h4>Comments:</h4>
    @foreach (var comment in @Model["restaurantComments"])
    {
      <p>@comment._commentCreated |@comment._commentDescription
      </p>
    }
}

  <div class="row">
    <div class="col-md-12 panel-body">
      <h4>Add a comment to this restaurant:</h4>
      <div class="addnewcomment">
        <form action='/restaurants/@Model["selectedRestaurant"]._restaurantId/comments/new' method='post'>
          <div class="form-group">
            <TEXTAREA name="comment" ROWS="2" COLS="20" type="text"></TEXTAREA>
          </div>
          <button class="btn btn-success" type="submit">Send</button>
        </form>
        <br>
      </div>
    </div>
  </div>

  <br>
  <p><a href="/restaurants">Return to the list of restaurants</a></p>
</div>
