@{
  Layout = "_Layout";
}

<div id="container">
  <header>
  <h1 id="galleryTitle">CLATSOP LOOP TRAIL</h1>
  </header>

  <div class="photobanner">
      <img class="first" src="../img/clatsopLoop/clatsopLoop.jpg" alt="Clatsop Loop Trail" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop1.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop2.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop3.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop4.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop5.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop6.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop7.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop8.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop9.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop10.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop11.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop12.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/clatsopLoop/clatsopLoop13.jpg" alt="Short Sands Beach" height="200px" />
  </div>
</div>
