@{
  Layout = "_Layout";
}

<h2>Add a comment</h2>
<hr>

<form action="/comments" method="post">
  <label for="description">Comment</label>
  <input id="description" description="description" type="text">
  <button type="submit">Add</button>
</form>
<br>
<p><a href="/comments">Back to comments</a></p>
