@{
  Layout = "_Layout";
}

<div class="gridHeader">
  <div class="header">
    <ul class="menu">
      <!-- <li>
        <form class="form-inline" action="/action_page.php">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-success" type="submit">SEARCH</button>
        </form>
      </li> -->
      <li><a href='/'>HOME</a></li>
      <li><a href='/DIRECTIONS'>DIRECTIONS</a></li>
      <li><a href='/restaurants'>FOOD</a></li>
      <li><a href='/hikes'>HIKES</a></li>
      <!-- <li><a href='/login'>LOGIN</a></li> -->
    </ul>
  </div>
</div>


<div class="container addnewcomment">

<h2>Add a comment</h2>
<hr>

<form action="/restaurants/comments" method="post">
  <label for="description">Comment</label>
  <TEXTAREA id="description" name="description" ROWS="2" COLS="20" type="text"></TEXTAREA>
  <button class="btn btn-success" type="submit">Add</button>
</form>
<br>
<p><a href="/comments">Back to comments</a></p>

</div>
