@{
  Layout = "_Layout";
}

<div class="gridHeader">
  <div class="header">
    <!-- <img class="logo" src="img/logo2.png" width="200px" alt="image of recycling" /> -->
    <ul class="menu">
      <li>
        <form class="form-inline" action="/action_page.php">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="submit">SEARCH</button>
        </form>
      </li>
      <li><a href='/'>HOME</a></li>
      <li><a href='/DIRECTIONS'>DIRECTIONS</a></li>
      <li><a href='/FOOD'>FOOD</a></li>
      <li><a href='/login'>LOGIN</a></li>
    </ul>
  </div>
</div>
<div class="grid">
  <!-- <div class="pickUpFinder">
    <p>Enter Your Portland Street Address to Find Your Pickup Information:</p>
    <form action="https://www.portlandmaps.com/search/" method="post"><input name="action_override" type="hidden" value="Hauler" />
      <input name="units" type="hidden" value="0" /><input id="query" name="query" type="text" /> <input type="submit" value="Submit" class="button"/>
    </form>
  </div> -->
  <a href="guide.html">
    <figure class="guide gridBox">
      <img src="../img/beach.jpg" alt="image of recycling bin">
      <figcaption>
        <p>Short Sands</p>
      </figcaption>
    </figure>
  </a>
  <a href="quiz2.html">
    <figure class="quiz gridBox">
      <img src="../img/ocean.jpg" alt="image of recycling bin">
      <figcaption>
        <p>Pacific City</p>
      </figcaption>
    </figure>
  </a>
  <a href="map/map.html">
    <figure class="map gridBox">
      <img src="../img/sunset.jpg" alt="image of recycling bin">
      <figcaption>
        <p>Canon Beach</p>
      </figcaption>
    </figure>
  </a>
  <a href="map/map.html">
    <figure class="map gridBox">
      <img src="../img/sunset.jpg" alt="image of recycling bin">
      <figcaption>
        <p>Cascade Head</p>
      </figcaption>
    </figure>
  </a>
  <a href="guide.html">
    <figure class="guide gridBox">
      <img src="../img/beach.jpg" alt="image of recycling bin">
      <figcaption>
        <p>Neahkahnie Mountain</p>
      </figcaption>
    </figure>
  </a>
  <a href="quiz2.html">
    <figure class="quiz gridBox">
      <img src="../img/ocean.jpg" alt="image of recycling bin">
      <figcaption>
        <p>Indian Beach Trail</p>
      </figcaption>
    </figure>
  </a>
  <div class="footer">
    <p>© 2019 ZAMN. All rights reserved.</p>
  </div>
</div>
