@{
  Layout = "_Layout";
}

<div class="gridHeader">
  <div class="header">
    <ul class="menu">
      <li><a href='/'>HOME</a></li>
      <li><a href='/restaurants'>FOOD</a></li>
      <li><a href='/hikes'>HIKES</a></li>
      <li><a href='/login/new'>LOGIN</a></li>
    </ul>
  </div>
</div>

<div class="container text-center">
  <h2 id="homeTitle">ZAMN</h2>
  <h3>PREPARING AND CONNECTING PEOPLE TO THEIR NEXT ADVENTURE ON THE OREGON COAST</h3>
  <hr>
</div>

</datalist>

<div class="grid">
  <a href="/shortsands">
    <figure class="guide gridBox">
      <img src="../img/surfer.jpg" alt="image of surfer">
      <figcaption>
        <p>Short Sands</p>
      </figcaption>
    </figure>
  </a>
  <a href="/capekiwanda">
    <figure class="quiz gridBox">
      <img src="../img/coast.jpg" alt="image of the coast">
      <figcaption>
        <p>Pacific City</p>
      </figcaption>
    </figure>
  </a>
  <a href="/indianbeach">
    <figure class="map gridBox">
      <img src="../img/horizon.jpg" alt="image of surfers walking">
      <figcaption>
        <p>Indian Beach</p>
      </figcaption>
    </figure>
  </a>
  <div class="footer">
    <p>© 2019 ZAMN. All rights reserved.</p>
  </div>
</div>
