@{
  Layout = "_Layout";
}

<div id="container">
  <header>
  <h1 id="galleryTitle">NEAHKAHNIE MOUNTAIN</h1>
  </header>

  <div class="row">
    <div class="column-md-6"></div>
      <img id="staticMap" src="../img/staticMaps/neahkahnieMtMap2.jpg" alt="map of neakhahnie mt trail" height="400px" /><br><br><br>
    <div cclass="column-md-6"></div>
  </div>

  <div class="photobanner">
  <img class="first" src="../img/neahMt/neahMt.jpg" alt="Neahkahnie Trail map" height="200px" />
  <img src="../img/neahMt/neahMt1.jpg" alt="Neahkahnie mountain trail" height="200px" />
  <img src="../img/neahMt/neahMt2.jpg" alt="Neahkahnie mountain trail" height="200px" />
  <img src="../img/neahMt/neahMt3.jpg" alt="Neahkahnie mountain trail" height="200px" />
  <img src="../img/neahMt/neahMt4.jpg" alt="Neahkahnie mountain trail" height="200px" />
  <img src="../img/neahMt/neahMt5.jpg" alt="Neahkahnie mountain trail" height="200px" />
  <img src="../img/neahMt/neahMt6.jpg" alt="Neahkahnie mountain trail" height="200px" />
  <img src="../img/neahMt/neahMt7.jpg" alt="Neahkahnie mountain trail" height="200px" />
  <img src="../img/neahMt/neahMt8.jpg" alt="Neahkahnie mountain trail" height="200px" />
  <img src="../img/neahMt/neahMt9.jpg" alt="Neahkahnie mountain trail" height="200px" />
  <img src="../img/neahMt/neahMt10.jpg" alt="Neahkahnie mountain trail" height="200px" />
  <img src="../img/neahMt/neahMt11.jpg" alt="Neahkahnie mountain trail" height="200px" />
  </div>
</div>
