@{
  Layout = "_Layout";
}

<body id="surfBackground">

<div id="container">
  <header>
  <h1 id="galleryTitle">CAPE KIWANDA</h1>
  </header>

  <div class="row">
    <div class="column-md-6">
      <img id="staticMap" src="../img/staticMaps/capeKiwandaMap.jpg" alt="Cape Kiwanda Beach" height="350px" />
    </div>
    <div cclass="column-md-6">

    </div>
  </div><br><br>

  <div class="photobanner">
      <img class="first" src="../img/capeKiwanda/capeKiwanda1.jpg" alt="Cape Kiwanda" height="200px" />
      <img src="../img/capeKiwanda/capeKiwanda2.jpg" alt="Cape Kiwanda" height="200px" />
      <img src="../img/capeKiwanda/capeKiwanda3.jpg" alt="Cape Kiwanda" height="200px" />
      <img src="../img/capeKiwanda/capeKiwanda5.jpg" alt="Cape Kiwanda" height="200px" />
      <img src="../img/capeKiwanda/capeKiwanda6.jpg" alt="Cape Kiwanda" height="200px" />
      <img src="../img/capeKiwanda/capeKiwanda7.jpg" alt="Cape Kiwanda" height="200px" />
      <img src="../img/capeKiwanda/capeKiwanda8.jpg" alt="Cape Kiwanda" height="200px" />
      <img src="../img/capeKiwanda/capeKiwanda2.jpg" alt="Cape Kiwanda" height="200px" />
      <img src="../img/capeKiwanda/capeKiwanda3.jpg" alt="Cape Kiwanda" height="200px" />
      <img src="../img/capeKiwanda/capeKiwanda5.jpg" alt="Cape Kiwanda" height="200px" />
      <img src="../img/capeKiwanda/capeKiwanda6.jpg" alt="Cape Kiwanda" height="200px" />
      <img src="../img/capeKiwanda/capeKiwanda7.jpg" alt="Cape Kiwanda" height="200px" />
  </div>
</div>

</body>
