@{
  Layout = "_Layout";
}

<div class="gridHeader">
  <div class="header">
    <ul class="menu">
      <li><a href='/'>HOME</a></li>
      <li><a href='/DIRECTIONS'>DIRECTIONS</a></li>
      <li><a href='/restaurants'>FOOD</a></li>
      <li><a href='/login/new'>LOGIN</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="addnewrest">
    <h2>Add a comment about Cape Kiwanda</h2>
    <hr>
    <div class="row">
      <div class="col-md-6 panel-body">
        <form action="/capekiwanda" method="post">
          <div class="form-group">
            <label for="userName">Name</label>
            <input id="userName" name="userName" type="text">
          </div>

          <div class="form-group">
            <label for="userComment">Leave a comment:</label><br>
            <TEXTAREA id="userName" name="userComment" ROWS="2" COLS="20" type="text"></TEXTAREA>
          </div>
          <button class="btn btn-success" type="submit">Add</button>
        </form>
      </div>
    </div>
    <br>
    <p><a href="/capekiwanda">Back to Cape Kiwanda!</a></p>
  </div>
</div>
