body {
  color: #50514F;
  margin-top: 10vh;
  background-color: #FFFCF9;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h4, h5, p {
  font-family: 'Raleway', sans-serif;
}

a, a:hover {
  color: #50514F;
}

h1 {
  font-size: 50px;
  text-shadow: 0.2px 0.2px black;
  color: #F6AA1C;
}
h3 {
  font-size: 22px;
  text-shadow: 0.1px 0.1px #F6AA1C;
  color: #F6AA1C;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  color: #50514F;
  text-align: center;
  padding: 8px 16px;
  text decoration: none;
  background-color: none;
  margin-left: 1vw;
  margin-right: 1vw;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-shadow: 0.2px 0.2px white;
}

.menu li a:hover {
  color: #F6AA1C;
  text-decoration: none;
}

input, button, select, textarea {
  color: black;
}

button {
  color: black;
}

.restaurants button {
  margin-bottom: 5%;

}

.gridHeader {
  margin-bottom: 1vh;
  display: grid;
  grid-column-gap: 2%;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 100vw;
}

.header {
  /* background: grey; */
  padding-bottom: 5vh;
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: left;
  margin-bottom: 2vh;
  padding-top: 2vh;
}

.heading {
  font-family: 'Montserrat', sans-serif;
}

.grid {
  margin: 0 10vw 1vh 10vw;
  display: grid;
  grid-column-gap: 2%;
  grid-row-gap: 7%;
  grid-template-columns: repeat(3, 2fr);
  justify-items: center;
  border-radius: 5px;
}

.gridBox {

  /* border: 2px solid white; */
  border-radius: 10%;
  background-color: #fffbfc;
  height: 35vh;
  width: 35vh;
}

.gridRest {
  /* margin: 0 10vw 1vh 10vw; */
  display: grid;
  grid-column-gap: 2%;
  grid-row-gap: 7%;
  grid-template-columns: repeat(3, 2fr);
  /* justify-items: center; */
  border-radius: 5px;
}

.gridBoxRest {

  /* border: 2px solid white; */
  border-radius: 5%;
  height: 45vh;
  width: 45vh;
}

.footer {
  /* background: grey;
  padding: 2em; */
  margin-top: 6vh;
  grid-column: 1/4;
  text-align: center;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  width: 80vw;
}

.gridBox > img {
  padding: 2%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
}

.gridBoxRest > img {
  padding-bottom: 2%;
  padding-top: 2%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.pickUpFinder {
  margin-top: 3vh;
  padding: 2em;
  grid-column: 1/4;
  grid-row: 2/3;
  background: #grey;
  border-radius: 10px;
  /* border: 2px solid white; */
  text-align: center;
  width: 80vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
/*
figure:hover figcaption {
  opacity: 1;
  height: 100%;
  width: 100%;
  display: block;
} */

/* figure:hover img {
  opacity: 1;
  display: none;
} */
/*
figcaption {
  height: 100%;
  width: 100%;
  display: none;
} */

figcaption > p {
  text-align: center;
  color: white;
  font-size: 20px;
  text-decoration: none;
}


/* START location styling */

#surfBackground {
  /* background: #222425; */
  background: white;
  /* background: url(../img/locationBackground/newDarkWater.jpg); */
  /* background-repeat: repeat;
  background-size: 100%; */
}

.container {
 /* width: 1000px; */
 /* overflow: hidden; */
 /* margin: 50px auto; */
 /* background: #222425; */
 /* background: white; */
 /* opacity: .8; */
}

#locationTitle {
 text-align: center;
 font: 50px/1.5 'Montserrat', Verdana, sans-serif;
 color: #5C6265;
 }


 #userComment {
   background-color: black;
   width: 300px;
   border-radius: 15px;
   margin-left: 40px;
 }

/*photobanner*/
.photobanner {
 height: 250px;
 width: 5000px;
 margin-bottom: 40px;
 /* margin-top: 40px; */

 background: white;
}

/*keyframe animations*/
.first {
 -webkit-animation: bannermove 150s linear infinite;
    -moz-animation: bannermove 150s linear infinite;
     -ms-animation: bannermove 150s linear infinite;
      -o-animation: bannermove 150s linear infinite;
         animation: bannermove 150s linear infinite;
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }

}

@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

.photobanner {
  display: flex;
  align-items: center;
 height: 250px;
 width: 5000px;
 margin-bottom: 20px;
 margin-top: 20px;
}

.photobanner img {
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -ms-transition: all 0.5s ease;
 transition: all 0.5s ease;
}

.photobanner img:hover {
 -webkit-transform: scale(1.5);
 -moz-transform: scale(1.5);
 -o-transform: scale(1.5);
 -ms-transform: scale(1.5);
 transform: scale(1.5);
 cursor: pointer;

 -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
 box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}


#weather {
  margin-bottom: 30px;
  margin-left: 14%;
}

/* beginning location grid styling */

#locationGrid {
    /* margin: 0 10vw 1vh 10vw; */
    display: grid;
    grid-column-gap: 2%;
    /* grid-row-gap: 7%; */
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    /* border-radius: 5px; */
    height: 550px;
    width: 980px;
    /* background-color: black; */
}

.locationGridBox {
  /* border: 2px solid white; */
  /* border-radius: 4%; */
  /* background-color: #fffbfc; */
  /* background-color: black; */
}

#swell {
  /* margin-right: 20px; */
  height: 80vh;
  width: 28vw;
}

#tides {
  /* margin-right: 20px; */
  height: 65vh;
  width: 16vw;
}
/* .locationGridBox2 script  {

  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8%;
} */

/* figcaption1 {
  color: white;
  text-align: center;
  background: white;
  font-size: 20px;
} */


#commentGrid {
display: grid;
grid-column-gap: 5%;
/* grid-row-gap: 7%; */
grid-template-columns: repeat(1, 4fr);
justify-content: center;
/* border-radius: 5px; */
/* margin-top: 20px; */
/* background-color: black; */
}

#linkToForm {
  height: 11vh;
  width: 70vw;
  background-color: #282A2A;
  text-align: center;
  color: white;
  font-size: 24px;
}

#commentTitle {
  font-size: 18px;
}


.restaurants {

}

.footerRest {
  margin-top: 70vh;
  grid-column: 1/4;
  font-family: 'Montserrat', sans-serif;
  width: 80vw;
}

.addnewrest input[type=text], select {
  width: 200%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.addnewrest TEXTAREA[type=text], select {
  width: 200%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
