@{
  Layout = "_Layout";
}

<div id="container">
  <header>
  <h1 id="galleryTitle">INDIAN BEACH</h1>
  </header>

  <img id="staticMap" src="../img/staticMaps/indianBeachMap.jpg" alt="Indian beach" height="400px" /><br><br><br>

  <div class="photobanner">
      <img class="first" src="../img/indianBeach/indianBeach.jpg" alt="Indian Beach" height="200px" />
      <img src="../img/indianBeach/indianBeach3.jpg" alt="Indian Beach" height="200px" />
      <img src="../img/indianBeach/indianBeach4.jpg" alt="Indian Beach" height="200px" />
      <img src="../img/indianBeach/indianBeach5.jpg" alt="Indian Beach" height="200px" />
      <img src="../img/indianBeach/indianBeach6.jpg" alt="Indian Beach" height="200px" />
      <img src="../img/indianBeach/indianBeach7.jpg" alt="Indian Beach" height="200px" />
      <img src="../img/indianBeach/indianBeach8.jpg" alt="Indian Beach" height="200px" />
      <img src="../img/indianBeach/indianBeach9.jpg" alt="Indian Beach" height="200px" />
      <img src="../img/indianBeach/indianBeach10.jpg" alt="Indian Beach" height="200px" />
      <img src="../img/indianBeach/indianBeach11.jpg" alt="Indian Beach" height="200px" />
      <img src="../img/indianBeach/indianBeach12.jpg" alt="Indian Beach" height="200px" />
  </div>
</div>
