@{
  Layout = "_Layout";
}

<div id="container">
  <header>
  <h1 id="galleryTitle">CASCADE HEAD</h1>
  </header>

  <img id="staticMap" src="../img/staticMaps/cascadeHeadMap.jpg" alt="map of Cascade Head trail" height="400px" /><br><br><br

  <div class="photobanner">
      <img class="first" src="../img/cascadeHead/ch10.jpg" alt="Cascade Head Trail" height="200px" />
      <img src="../img/cascadeHead/ch1.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/cascadeHead/ch2.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/cascadeHead/ch3.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/cascadeHead/ch5.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/cascadeHead/ch6.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/cascadeHead/ch7.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/cascadeHead/ch8.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/cascadeHead/ch9.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/cascadeHead/ch10.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/cascadeHead/ch11.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/cascadeHead/ch12.jpg" alt="Short Sands Beach" height="200px" />
      <img src="../img/cascadeHead/ch4.jpg" alt="Short Sands Beach" height="200px" />
  </div>
</div>
